AlexDatafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "数据工厂名称",
			"defaultValue": "AlexDatafactory"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "“AzureBlobStorage1”的“connectionString”的安全字符串"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "“AzureDataLakeStorage1”的“accountKey”的安全字符串"
		},
		"AzureDatabricksDeltaLake1_accessToken": {
			"type": "secureString",
			"metadata": "“AzureDatabricksDeltaLake1”的“accessToken”的安全字符串"
		},
		"AzureDatabricksDeltaLake2_kbb_accessToken": {
			"type": "secureString",
			"metadata": "“AzureDatabricksDeltaLake2_kbb”的“accessToken”的安全字符串"
		},
		"AzureFileStorage1_connectionString": {
			"type": "secureString",
			"metadata": "“AzureFileStorage1”的“connectionString”的安全字符串"
		},
		"AzureMySql2_connectionString": {
			"type": "secureString",
			"metadata": "“AzureMySql2”的“connectionString”的安全字符串"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "“AzureSqlDatabase1”的“password”的安全字符串"
		},
		"AzureSynapseAnalytics1_connectionString": {
			"type": "secureString",
			"metadata": "“AzureSynapseAnalytics1”的“connectionString”的安全字符串"
		},
		"PostgreSql2_password": {
			"type": "secureString",
			"metadata": "“PostgreSql2”的“password”的安全字符串"
		},
		"alexdevsql_connectionString": {
			"type": "secureString",
			"metadata": "“alexdevsql”的“connectionString”的安全字符串"
		},
		"alexstoragegen2_accountKey": {
			"type": "secureString",
			"metadata": "“alexstoragegen2”的“accountKey”的安全字符串"
		},
		"mongoapi_connectionString": {
			"type": "secureString",
			"metadata": "“mongoapi”的“connectionString”的安全字符串"
		},
		"mongoapi_account": {
			"type": "secureString",
			"metadata": "“mongoapi”的“account”的安全字符串",
			"defaultValue": "mongoapi"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://abctest0619.dfs.core.chinacloudapi.cn/"
		},
		"AzureDatabricksDeltaLake1_properties_typeProperties_domain": {
			"type": "string",
			"defaultValue": "https://adb-1712255893777130.2.databricks.azure.cn"
		},
		"AzureDatabricksDeltaLake2_kbb_properties_typeProperties_domain": {
			"type": "string",
			"defaultValue": "https://adb-1432872212310480.0.databricks.azure.cn"
		},
		"AzureDatabrickstest_properties_typeProperties_domain": {
			"type": "string",
			"defaultValue": "@linkedService().workspaceurl"
		},
		"AzureDatabrickstest_properties_typeProperties_workspaceResourceId": {
			"type": "string",
			"defaultValue": "@linkedService().workspaceresourceid"
		},
		"AzureDatabrickstest_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "@linkedService().clusterid"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://alexkey0618.vault.azure.cn/"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "alexsqlserver.database.chinacloudapi.cn"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "alextes"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "alex"
		},
		"LS300_AKV_damakv02_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://test0311sqlcolumnkey.vault.azure.cn/"
		},
		"PostgreSql2_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pg0723.postgres.database.chinacloudapi.cn"
		},
		"PostgreSql2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "postgres"
		},
		"PostgreSql2_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "lihong"
		},
		"RestTest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://zlxocrtest.cognitiveservices.azure.cn/vision/v3.2/read/analyze"
		},
		"alexstoragegen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://alexstoragegen2.dfs.core.chinacloudapi.cn/"
		},
		"mongoapi_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "TestMigration"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksDeltaLake1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "[parameters('AzureDatabricksDeltaLake1_properties_typeProperties_domain')]",
					"clusterId": "0415-030317-v8e64gz4",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksDeltaLake1_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksDeltaLake2_kbb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "[parameters('AzureDatabricksDeltaLake2_kbb_properties_typeProperties_domain')]",
					"clusterId": "0809-054006-456dayv",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksDeltaLake2_kbb_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabrickstest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "testarm",
				"parameters": {
					"workspaceurl": {
						"type": "string",
						"defaultValue": "https://adb-1712255893777130.2.databricks.azure.cn/"
					},
					"workspaceresourceid": {
						"type": "string",
						"defaultValue": "/subscriptions/413eb882-b134-4b64-b202-519e1fe3a994/resourceGroups/AlexDataBricks/providers/Microsoft.Databricks/workspaces/alextestdatabricks"
					},
					"clusterid": {
						"type": "string",
						"defaultValue": "1209-023455-i618d0j5"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "[parameters('AzureDatabrickstest_properties_typeProperties_domain')]",
					"authentication": "MSI",
					"workspaceResourceId": "[parameters('AzureDatabrickstest_properties_typeProperties_workspaceResourceId')]",
					"existingClusterId": "[parameters('AzureDatabrickstest_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFileStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureFileStorage1_connectionString')]",
					"fileShare": "alexfile"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMySql2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMySql",
				"typeProperties": {
					"connectionString": "[parameters('AzureMySql2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalytics1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureSynapseAnalytics1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS300_AKV_damakv02')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS300_AKV_damakv02_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSql2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSqlV2",
				"typeProperties": {
					"server": "[parameters('PostgreSql2_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('PostgreSql2_properties_typeProperties_database')]",
					"username": "[parameters('PostgreSql2_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('PostgreSql2_password')]"
					},
					"sslMode": 2,
					"authenticationType": "Basic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestTest_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"Ocp-Apim-Subscription-Key": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/alexdevsql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('alexdevsql_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/alexstoragegen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('alexstoragegen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('alexstoragegen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mongoapi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDbMongoDbApi",
				"typeProperties": {
					"connectionString": "[parameters('mongoapi_connectionString')]",
					"account": {
						"type": "SecureString",
						"value": "[parameters('mongoapi_account')]"
					},
					"database": "[parameters('mongoapi_properties_typeProperties_database')]",
					"isServerVersionAbove32": true
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Wait12",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "alexdevsql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "  insert into testa (Name) select name from testb "
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Wait12",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 660
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {
						"duration": "0.00:10:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-06-25T07:16:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/alexdevsql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TestA"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		}
	]
}