pipeline/W01_FullDataCopy_Parm_V02.json
{
	"name": "W01_FullDataCopy_Parm_V02",
	"properties": {
		"activities": [
			{
				"name": "FullDataCopyFromSrc",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Log Taks Running",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.04:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "TaskID",
						"value": "@pipeline().parameters.P_P_TaskID"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.P_P_SqlQueryString",
							"type": "Expression"
						},
						"queryTimeout": "06:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{pipeline().parameters.P_P_PreRunScript}",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS301_001_DBParm_Non_Src",
						"type": "DatasetReference",
						"parameters": {
							"P_DS_Host": {
								"value": "@pipeline().parameters.P_P_SourceServer",
								"type": "Expression"
							},
							"P_DS_DBName": {
								"value": "@pipeline().parameters.P_P_SourceDBName",
								"type": "Expression"
							},
							"P_DS_UserName": {
								"value": "@pipeline().parameters.P_P_SourceUserName",
								"type": "Expression"
							},
							"P_DS_PassWrod_KV": {
								"value": "@pipeline().parameters.P_P_SourcePassWord_KV",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS301_004_DBParm_TBParm_Sink",
						"type": "DatasetReference",
						"parameters": {
							"P_DS_Host": {
								"value": "@pipeline().parameters.P_P_SinkServer",
								"type": "Expression"
							},
							"P_DS_DBName": {
								"value": "@pipeline().parameters.P_P_SinkDBName",
								"type": "Expression"
							},
							"P_DS_UserName": {
								"value": "@pipeline().parameters.P_P_SinkUserName",
								"type": "Expression"
							},
							"P_DS_PassWrod_KV": {
								"value": "@pipeline().parameters.P_P_SinkPassWord_KV",
								"type": "Expression"
							},
							"P_DS_Schema": {
								"value": "@pipeline().parameters.P_P_SinkSchema",
								"type": "Expression"
							},
							"P_DS_TableName": {
								"value": "@pipeline().parameters.P_P_SinkTableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Log Taks Running",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "TaskID",
						"value": "@pipeline().parameters.P_P_TaskID"
					}
				],
				"typeProperties": {
					"storedProcedureName": "[adf].[P_SetLogTaskRunning]",
					"storedProcedureParameters": {
						"DistributeTasksPLRunId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"ExceFlag": {
							"value": "41",
							"type": "Int32"
						},
						"ExecutionInfo": {
							"value": null,
							"type": "String"
						},
						"GetTasksPLRunId": {
							"value": null,
							"type": "Guid"
						},
						"ParmSettings": {
							"value": null,
							"type": "String"
						},
						"PollTasksPLRunId": {
							"value": null,
							"type": "Guid"
						},
						"StepDesc": {
							"value": {
								"value": "@concat(pipeline().Pipeline, ':Update TaskExecution TaskStatus = 1-Running')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskId": {
							"value": {
								"value": "@pipeline().parameters.P_P_TaskID",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskKey": {
							"value": {
								"value": "@pipeline().parameters.P_P_TaskKey",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"WorkerPLName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"WorkerPLRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"InitiateTasksDT": {
							"value": {
								"value": "@pipeline().parameters.P_P_InitiateTasksDT",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS304_ASQL_ADF_SchProcFwk",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Log Taks Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FullDataCopyFromSrc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "TaskID",
						"value": "@pipeline().parameters.P_P_TaskID"
					}
				],
				"typeProperties": {
					"storedProcedureName": "[adf].[P_SetLogTaskSuccess]",
					"storedProcedureParameters": {
						"DurationSec": {
							"value": {
								"value": "@activity('FullDataCopyFromSrc').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ExecutionInfo": {
							"value": null,
							"type": "String"
						},
						"WorkerPLName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"WorkerPLRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"QueueDurationSec": {
							"value": {
								"value": "@activity('FullDataCopyFromSrc').output.executionDetails[0].profile.queue.duration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('FullDataCopyFromSrc').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('FullDataCopyFromSrc').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TaskID": {
							"value": {
								"value": "@pipeline().parameters.P_P_TaskID",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskKey": {
							"value": {
								"value": "@pipeline().parameters.P_P_TaskKey",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Throughput_Kb": {
							"value": {
								"value": "@activity('FullDataCopyFromSrc').output.throughput",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"PollTasksPLRunId": {
							"value": null,
							"type": "Guid"
						},
						"GetTasksPLRunId": {
							"value": null,
							"type": "Guid"
						},
						"DistributeTasksPLRunId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"StepDesc": {
							"value": {
								"value": "@concat(pipeline().Pipeline,':Update TaskExecution TaskStatus = 2-Success')",
								"type": "Expression"
							},
							"type": "String"
						},
						"ParmSettings": {
							"value": null,
							"type": "String"
						},
						"ExceFlag": {
							"value": "42",
							"type": "Int32"
						},
						"InitiateTasksDT": {
							"value": {
								"value": "@pipeline().parameters.P_P_InitiateTasksDT",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS304_ASQL_ADF_SchProcFwk",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Log Taks Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FullDataCopyFromSrc",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "TaskID",
						"value": "@pipeline().parameters.P_P_TaskID"
					}
				],
				"typeProperties": {
					"storedProcedureName": "[adf].[P_SetLogTaskFailed]",
					"storedProcedureParameters": {
						"ErroInfo": {
							"value": {
								"value": "@concat('{\"Code\":'\n,activity('FullDataCopyFromSrc').output.errors[0].Code\n,',\"Message\":\"'\n,activity('FullDataCopyFromSrc').output.errors[0].Message\n,'\"}')\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"WorkerPLName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"WorkerPLRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"TaskID": {
							"value": {
								"value": "@pipeline().parameters.P_P_TaskID",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskKey": {
							"value": {
								"value": "@pipeline().parameters.P_P_TaskKey",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"QueueDurationSec": {
							"value": {
								"value": "@activity('FullDataCopyFromSrc').output.executionDetails[0].profile.queue.duration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"DurationSec": {
							"value": {
								"value": "@activity('FullDataCopyFromSrc').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ExecutionInfo": {
							"value": null,
							"type": "String"
						},
						"PollTasksPLRunId": {
							"value": null,
							"type": "String"
						},
						"GetTasksPLRunId": {
							"value": null,
							"type": "String"
						},
						"DistributeTasksPLRunId": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StepDesc": {
							"value": {
								"value": "@concat(pipeline().Pipeline,':Update TaskExecution TaskStatus = 3-Failed')",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExceFlag": {
							"value": "42",
							"type": "Int32"
						},
						"ParmSettings": {
							"value": null,
							"type": "String"
						},
						"InitiateTasksDT": {
							"value": {
								"value": "@pipeline().parameters.P_P_InitiateTasksDT",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS304_ASQL_ADF_SchProcFwk",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SetTaskStatusSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set Log Taks Success",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "TaskID",
						"value": "@pipeline().parameters.P_P_TaskID"
					}
				],
				"typeProperties": {
					"storedProcedureName": "[adf].[P_SetTaskStatus]",
					"storedProcedureParameters": {
						"TaskKey": {
							"value": {
								"value": "@pipeline().parameters.P_P_TaskKey",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TaskStatus": {
							"value": "2",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS304_ASQL_ADF_SchProcFwk",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SetTaskStatusFailed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set Log Taks Failed",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "TaskID",
						"value": "@pipeline().parameters.P_P_TaskID"
					}
				],
				"typeProperties": {
					"storedProcedureName": "[adf].[P_SetTaskStatus]",
					"storedProcedureParameters": {
						"TaskKey": {
							"value": {
								"value": "@pipeline().parameters.P_P_TaskKey",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TaskStatus": {
							"value": "3",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS304_ASQL_ADF_SchProcFwk",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"P_P_TaskKey": {
				"type": "int",
				"defaultValue": 3
			},
			"P_P_TaskID": {
				"type": "string",
				"defaultValue": "WalkSource2_distinct_ADF001"
			},
			"P_P_SourceServer": {
				"type": "string",
				"defaultValue": "adfsqllab.database.chinacloudapi.cn"
			},
			"P_P_SourceDBName": {
				"type": "string",
				"defaultValue": "frameworkmetadata"
			},
			"P_P_SourceUserName": {
				"type": "string",
				"defaultValue": "sqladmin"
			},
			"P_P_SourcePassWord_KV": {
				"type": "string",
				"defaultValue": "AZ-ODS-YueXiuMeasures-PRD-PassWord"
			},
			"P_P_SqlQueryString": {
				"type": "string",
				"defaultValue": "SELECT RunKey       ,osrc       ,tgt       ,lvl       ,objecttype       ,dbo.getlocaldate(8) DataDate   FROM dbo.WalkSource2_distinct"
			},
			"P_P_PreRunScript": {
				"type": "string",
				"defaultValue": "IF OBJECT_ID('dbo.dwd_WalkSource2_distinct','U') IS NOT NULL TRUNCATE TABLE dbo.dwd_WalkSource2_distinct"
			},
			"P_P_SinkServer": {
				"type": "string",
				"defaultValue": "adfsqllab.database.chinacloudapi.cn"
			},
			"P_P_SinkDBName": {
				"type": "string",
				"defaultValue": "frameworkmetadata"
			},
			"P_P_SinkSchema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"P_P_SinkTableName": {
				"type": "string",
				"defaultValue": "dwd_WalkSource2_distinct"
			},
			"P_P_SinkUserName": {
				"type": "string",
				"defaultValue": "sqladmin"
			},
			"P_P_SinkPassWord_KV": {
				"type": "string",
				"defaultValue": "AZ-DW-YueXiuMeasures-PRD-PassWord"
			},
			"P_P_InitiateTasksDT": {
				"type": "int"
			}
		},
		"folder": {
			"name": "00_YxEDW_SchProcFwk/02_JobWorkers"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-11T08:39:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}